h2 {
    color: #a74747;
    text-align: center;
    font-size: 40px;
}

a{
    color: #a74747;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    border: black solid;
    padding: 0.5rem;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit]{
    width: 100%;
    background-color: #e91e63;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;

}

body {
    background-color: GhostWhite;
    padding: 20px;
}

.bodyIndex {
    text-align: center;
}

.bodyResult {
    color: #a74747;
    font-size: 30px;
    text-align: center;
}
